node_flow.txt
[{"id":"6ff1435.5e64bbc","type":"ibmiot in","z":"530ce341.9851dc","authentication":"apiKey","apiKey":"69a8e34c.9db91c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"10001","applicationId":"","deviceType":"Pi","eventType":"+","commandType":"","format":"json","name":"IoT IN","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":160,"wires":[["53fed891.4bd3d8"]]},{"id":"1d4e2823.fc1108","type":"http in","z":"530ce341.9851dc","name":"","url":"/rest/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["557a671e.02a1b8"]]},{"id":"53fed891.4bd3d8","type":"json","z":"530ce341.9851dc","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":160,"wires":[["61ac3110.efa4d"]]},{"id":"ba7a35e9.db49e8","type":"debug","z":"530ce341.9851dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"61ac3110.efa4d","type":"function","z":"530ce341.9851dc","name":"","func":"\nglobal.set('temperature', msg.payload.temperature);\nglobal.set('latitude', msg.payload.latitude);\nglobal.set('longitude', msg.payload.longitude);\nglobal.set('timestamp', Date.now());\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":200,"wires":[["ba7a35e9.db49e8"]]},{"id":"557a671e.02a1b8","type":"function","z":"530ce341.9851dc","name":"","func":"var today = new Date(global.get('timestamp'));\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\n\n\nvar dateTime = date+' '+time;\n\nmsg.payload = {\n    \"timestamp\": dateTime,\n    \"temperature\": global.get('temperature'),\n    \"latitude\": global.get('latitude'),\n    \"longitude\": global.get('longitude')\n    \n};\n\nmsg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["5ba3badf.904994"]]},{"id":"5ba3badf.904994","type":"http response","z":"530ce341.9851dc","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":570,"y":540,"wires":[]},{"id":"9408bb36.0eba58","type":"comment","z":"530ce341.9851dc","name":"Setting the values from sensor to global variables","info":"","x":720,"y":140,"wires":[]},{"id":"9ecba0a3.22c1d","type":"comment","z":"530ce341.9851dc","name":"Convert the data to JSON","info":"","x":350,"y":100,"wires":[]},{"id":"d90f39a7.bf3fa8","type":"comment","z":"530ce341.9851dc","name":"Setting up an endpoint \"/rest/data\"","info":"","x":240,"y":320,"wires":[]},{"id":"7a0d887c.1857c8","type":"comment","z":"530ce341.9851dc","name":"Use global variable data to create the final payload","info":"","x":500,"y":380,"wires":[]},{"id":"9463946f.2e84b8","type":"comment","z":"530ce341.9851dc","name":"Response is sent to client","info":"","x":630,"y":480,"wires":[]},{"id":"69a8e34c.9db91c","type":"ibmiot","z":"","name":"HERE IOT","keepalive":"60","serverName":"7od569.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]